.about-img {
  width: 70%;
  height: 100%;
  margin: 2rem auto;
}

.about-richtext h3 {
  color: #86a0c6;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.exten-inten-img-col {
  padding-left: 50px;
  padding-right: 50px;
}

.exten-inten-img {
  display: block;
  margin: 2rem auto 3rem;
}

.exten-inten-richtext h3 {
  color: #86a0c6;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .exten-inten-img-col {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .exten-inten-img-col {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 575px) {
  .about-img {
    width: 100%;
  }
  .exten-inten-img-col {
    padding-left: 0;
    padding-right: 0;
  }
}
