@charset "UTF-8";

/* ///// FONTS ///// */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import '../layout/typography.css';

/* ///// CUSTOM CSS ///// */

/* general default CSS */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #4f5663;
  background-color: #ffffff;
}

.row {
  --bs-gutter-x: 0;
}

h1,
h2,
h3 {
  margin-bottom: 1.5rem;
  font-family: 'Eurostile Extended';
}

a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.5s linear;
}

a:hover {
  color: #ffffff;
}

.btn-center,
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mb-05rem {
  margin-bottom: 0.5rem !important;
}

.mb-1rem {
  margin-bottom: 1rem !important;
}

.mb-2rem {
  margin-bottom: 2rem !important;
}

.mb-3rem {
  margin-bottom: 3rem !important;
}

/* Carousel Css */
.carousel-control-next,
.carousel-control-prev {
  display: none;
}

.carousel-indicators [data-bs-target] {
  background-color: #ffffff;
  opacity: 1;
}

.carousel-indicators .active {
  background-color: #fd7062;
}

/* custom default CSS */
.section-hero {
  position: relative;
  margin: 95px 100px;
}

.section-blue-background {
  margin: 0 50px;
  padding: 100px 100px;
  background-color: #edf0f8;
  border-radius: 25px;
  -webkit-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.2);
}

.section-white-background {
  margin: 150px;
}

.last-section {
  margin-bottom: 100px;
}

.hero-copy {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.hero-title {
  color: #86a0c6;
  font-size: 5rem;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 90px;
  width: 400px;
  margin-bottom: 0;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
}

.hero-description {
  font-size: 1.5rem;
  line-height: 30px;
  width: 475px;
}

.cta-btn-shadow {
  color: #ffffff;
  background-color: #fd7062;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.25rem;
  text-align: center;
  max-width: 175px;
  display: block;
  margin-top: 40px;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.cta-btn {
  color: #ffffff;
  background-color: #fd7062;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.25rem;
  text-align: center;
  max-width: 175px;
  display: block;
  margin-top: 40px;
}

.cta-phone-icon {
  fill: #ffffff;
  width: 20px;
  height: 100%;
  margin-bottom: 5px;
  margin-left: 5px;
}

.section-title {
  color: #86a0c6;
  font-size: 2.25rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.section-subtitle {
  color: #86a0c6;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hero-title {
    font-size: 3.5rem;
    line-height: 60px;
  }
  .hero-description {
    font-size: 1.25rem;
    line-height: 25px;
    width: 350px;
  }
  .hero-svg-height {
    height: 400px;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .section-blue-background {
    margin: 0 50px;
    padding: 50px 50px;
  }
  .section-white-background {
    margin: 100px 100px;
  }
  .section-hero {
    margin: 50px 30px 100px;
  }
  .hero-copy {
    position: relative;
    top: 0;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  .hero-title {
    font-size: 3.5rem;
    text-align: center;
    line-height: normal;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .hero-description {
    font-size: 1.25rem;
    line-height: 25px;
    width: 400px;
    text-align: center;
    display: block;
    margin: auto;
  }
  .cta-btn-shadow {
    margin: 40px auto 0;
    display: block;
  }
  .hero-svg-height {
    height: 450px;
  }
}

@media (max-width: 575px) {
  .section-blue-background {
    margin: 0 20px;
    padding: 50px 20px;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
  }
  .section-white-background {
    margin: 100px 40px;
  }
  .section-hero {
    margin: 50px 15px 100px;
  }
  .hero-copy {
    position: relative;
    top: 0;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  .hero-title {
    font-size: 3rem;
    text-align: center;
    line-height: normal;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .hero-description {
    font-size: 1.25rem;
    line-height: 25px;
    width: 100%;
    text-align: center;
  }
  .cta-btn-shadow {
    margin: 40px auto 0;
    display: block;
  }

  .hero-svg-height {
    height: 220px;
  }
  .section-title {
    font-size: 2rem;
  }
}

/* ///// HEADER & FOOTER STYLE ///// */

/* Header */
.header-section {
  position: relative;
  padding: 5px 30px;
}

.header-brand {
  color: #fd7062;
  font-weight: 900;
  font-size: 3rem;
}

.header-brand:hover {
  color: #fd7062;
}

.header-section .header-link {
  color: #4f5663;
}

.header-section .header-link:hover {
  color: #fd7062;
}

.header-section .dropdown-toggle,
.header-section .show > .btn-primary.dropdown-toggle {
  color: #4f5663;
  background-color: transparent;
  border: none;
  font-weight: 300;
}

.header-section .dropdown-toggle::after {
  color: #fd7062;
}

.header-section .dropdown-item {
  color: #4f5663;
  font-weight: 300;
}

.header-section .dropdown-item:hover {
  color: #fd7062;
  background-color: transparent;
}

.header-section .language-selector {
  color: #4f5663;
}

.header-section .offcanvas-btn {
  position: relative;
  color: #4f5663;
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
}

.header-section .offcanvas-btn span {
  position: absolute;
  top: 50%;
  right: 30px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header-section .offcanvas-btn .menu-svg {
  fill: #fd7062;
  width: 30px;
  height: 30px;
}

.offcanvas-end {
  color: #ffffff;
  background-color: #fd7062;
  width: 100vw;
  border-left: none;
}

.offcanvas-header .btn-close {
  opacity: 1;
  margin: 10px 95% 0;
}

.offcanvas-stack {
  text-align: center;
  margin-top: 50px;
}

.offcanvas-stack .offcanvas-link {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 600;
}

.offcanvas-stack .accordion-item {
  background-color: transparent;
  border: none;
}

.offcanvas-stack .accordion-button {
  color: #ffffff;
  background-color: transparent;
  border: none;
  font-size: 3rem;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  width: 295px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0;
}

.offcanvas-stack .accordion-button .accordion-arrow {
  fill: #ffffff;
  width: 30px;
  height: 100%;
  margin-left: 10px;
  padding-top: 5px;
}

.offcanvas-stack .accordion-button::after {
  display: none;
}

.offcanvas-stack .accordion-body div {
  margin-top: 20px;
}

.offcanvas-stack .accordion-link {
  font-size: 2rem;
  font-weight: 500;
}

.selector-hidden {
  display: none;
}

#home-page .home-selector,
#about-page .about-selector,
#q-and-a-page .q-and-a-selector,
#contact-page .contact-selector,
#library-page .library-selector,
#yr-page .yr-selector,
#adult-page .adult-selector,
#summer-winter-page .summer-winter-selector,
#four-o-four-page .four-o-four-selector {
  display: block;
  border: #fd7062 2px solid;
  border-radius: 5px;
  padding: 5px;
}

/* Footer */
.footer-section {
  color: #ffffff;
  background-color: #fd7062;
  margin-top: 50px;
  padding: 50px 50px 25px;
}

.footer-row1 {
  margin-bottom: 50px;
}

.footer-col {
  padding-left: 50px;
}

@media (min-width: 992px) {
  .header-section .display {
    display: none;
  }
}

@media (max-width: 991px) {
  .header-section .hidden {
    display: none;
  }
  #home-page .home-selector,
  #about-page .about-selector,
  #q-and-a-page .q-and-a-selector,
  #contact-page .contact-selector,
  #library-page .library-selector,
  #yr-page .yr-selector,
  #adult-page .adult-selector,
  #summer-page .summer-selector,
  #winter-page .winter-selector,
  #four-o-four-page .four-o-four-selector {
    position: absolute;
    top: 20px;
    left: 140px;
  }
  .footer-col {
    text-align: center;
    padding-left: 0;
  }
  .footer-col2,
  .footer-col3 {
    margin-top: 50px;
  }
}

@media (max-width: 575px) {
  .header-section {
    padding: 5px 15px;
  }
  #home-page .home-selector,
  #about-page .about-selector,
  #q-and-a-page .q-and-a-selector,
  #contact-page .contact-selector,
  #library-page .library-selector,
  #yr-page .yr-selector,
  #adult-page .adult-selector,
  #summer-page .summer-selector,
  #winter-page .winter-selector,
  #four-o-four-page .four-o-four-selector {
    position: absolute;
    top: 21px;
    left: 115px;
  }
  .offcanvas-header .btn-close {
    margin: 10px 90% 0;
  }
  .offcanvas-stack {
    margin-top: 25px;
  }
  .offcanvas-stack .offcanvas-link {
    font-size: 2rem;
    font-weight: 600;
  }
  .offcanvas-stack .accordion-button {
    font-size: 2rem;
    width: 210px;
  }

  .offcanvas-stack .accordion-button .accordion-arrow {
    fill: #ffffff;
    width: 20px;
    height: 100%;
    margin-left: 10px;
    padding-top: 5px;
  }

  .offcanvas-stack .accordion-body div {
    margin-top: 20px;
  }

  .offcanvas-stack .accordion-link {
    font-size: 1.5rem;
    font-weight: 500;
  }
}
